<%- model_class = Post -%>
<div id="all_post">
  <%= render partial: 'list_of_post', :locals => {:posts => @posts} %>
</div>

<script type="text/javascript">
  function myFunction(id) {
     $.ajax({
            type: "POST",
            url: "/favorite",
            data: {"id":id},
            dataType: "script",
        })
}
</script>